:root {
  --Slate-900: #1f314f;
  --Slate-500: #68778d;
  --Slate-300: #d5e1ef;
  --white: #fff;
  /* TEXT */

  --text--title: 22px;
  --text--descripttion: 15px;

  /* line-height: ; */

  --line--height--title: 120%;
  --line--height--description: 140%;

  /* letter spacing */

  --letter--spacing--title: 0px;
  --letter--spacing--description: 0.2px;

  /*  */
}
* {
  margin: 0;
  padding: 0;
}

body.page {
  background-color: #d5e1ef;
  display: flex;
  height: 100vh;
}

.card {
  margin: auto;
  width: 320px;
  height: 499px;
  border-radius: 20px;
  border: 1px solid var(--four-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.card__image img {
  width: 288px;
  height: 288px;
  margin-top: 16px;
  border-radius: 10px;
}

.card__text {
  margin-top: 24px;
  width: 80%;
  text-align: center;
}

.card__title {
  font-size: 22px;
  line-height: var(--line--height--title);
  letter-spacing: var(--letter--spacing--title);
  color: var(--Slate-900);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card__description {
  margin-top: 15px;
  font-size: 15px;
  color: #68778d;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 140;
  font-style: normal;
}
